body {
  font-size: 12pt;
}

.code {
  font-family: monospace;
  background: rgb(250, 250, 250);
  clear: both;
  padding: 10px;
  margin: 5px;
  border-bottom: solid 3px #ccc;
}

.code pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.inline {
  font-family: monospace;
  background: rgb(250, 250, 250);
}

.desc {
  font-family: sans-serif;
  padding: 10px;
  margin: 5px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-left: solid 1px #ccc;
}

.mininav {
  font-family: sans-serif;
  background: rgb(255, 250, 240);
  margin-left: 20px;
  border: solid 1px #ccc;
  width: 80%;
}


.constName {
  color: rgb(16, 145, 59);
}

.coeff,
.coeff span {
  color: rgb(6, 74, 209);
}

.eff,
.eff span {
  color: rgb(204, 102, 6);
}

.keyword {
  color: rgb(110, 12, 5);
}

.uniq,
.uniq span {
  color: rgb(194, 2, 50);
}

.perm,
.perm span {
  color: rgb(34, 102, 34);
}

#navigator {
  width: calc(25vw - 20px - 2 * 20px);
  margin: 0px;
  padding: 20px;
  margin-right: 20px;
  background: rgb(230, 230, 230);
  font-family: sans-serif;
  float: left;
}

#content {
  width: calc(60vw - 2 * 20px);
  margin: 0px;
  padding: 20px;
  font-family: sans-serif;
  float: left;
}

#logo {
  float: right;
}

#logo img {
  width: 100px;
}

a,
a:visited {
  color: #404d5f;
}

a.toplink {
  margin: 0px;
  float: left;
  margin-left: -3em;
  font-weight: 400;
  font-size: 10pt;
  margin-right: 2em;
  color: #c9c9c9;
}

strong {
  color: rgb(194, 20, 200);
}