name: Stack CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Z3
      run: |
         wget -q https://github.com/Z3Prover/z3/releases/download/z3-4.15.4/z3-4.15.4-x64-glibc-2.39.zip
         unzip -q z3-4.15.4-x64-glibc-2.39.zip
         sudo cp z3-4.15.4-x64-glibc-2.39/bin/z3 /usr/local/bin/
         sudo cp z3-4.15.4-x64-glibc-2.39/bin/libz3.so /usr/local/lib/

    - name: Print Z3 version
      run: z3 --version

    # Use preinstalled Stack.  Should Stack fail to be installed, use the setup action:
    # - name: Setup Haskell
    #   uses: haskell-actions/setup@v2
    #   with:
    #     enable-stack: true
    #     stack-no-global: true

    - name: Restore Stack build artifacts (user + project)
      uses: actions/cache/restore@v4
      id: cache
      with:
        path: |
          ~/.stack
          .stack-work
        # Write a fresh cache each time
        key: ${{ runner.os }}-stack-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-stack

    - name: Setup Stack
      run: stack setup

    - name: Build dependencies
      run: stack test --only-dependencies

    # This step only consumes an extra minute without gains.
    # - name: Build w/o tests
    #   run: stack build

    - name: Build w/ tests
      run: stack test --no-run-tests

    - name: Run tests
      run: stack test

    # Always cache dependencies.
    # This makes esp. sense now that some tests are broken.
    - name: Cache Stack build artifacts (user + project)
      uses: actions/cache/save@v4
      if:   always() && steps.cache.outputs.cache-hit != 'true'
      with:
        path: |
          ~/.stack
          .stack-work
        key: ${{ steps.cache.outputs.cache-primary-key }}
